body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    --blue: #134880;
    --gray: #dddddd;
    --dark-gray: #484A4C;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    display: flex;
    gap: 20px;
    transform: translateX(-15%);
}

p {
    color: var(--dark-gray);
    font-size: 18px;
    line-height: 26px;
}

h1 {
    color: var(--blue);
    font-size: 32px;
    line-height: 37.5px;
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.text {
    width: 300px;
    height: 300px;
}

.first,
.second {
    list-style: none;
    display: flex;
    margin: 0;
}

ul li img {
    margin: 0 0 5px 10px;
    padding: 0;
    height: 200px;
    border-radius: 5px;
    box-sizing: border-box;
}

.second-row {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.prev,
.next {
    border: 1px solid var(--gray);
    border-radius: 5px;
    margin: 0 0 10px 80px;
    padding: 30px;
}

.prev:hover,
.next:hover {
    border-color: var(--blue);
    cursor: pointer;
}

.prev img,
.next img{
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.1s;
}

.prev:hover img.visible,
.next:hover img.visible{
    opacity: 0;
}

.prev:hover img.hidden,
.next:hover img.hidden {
    opacity: 1;
}


