.text{
    h1 {
        width: 300px;
        color: $blue;
        font-size: 32px;
        line-height: 37.5px;
        font-weight: 700;
        @include flex(row);
        align-items: flex-end;
        letter-spacing: -0.2px;
        margin: 0;
    }

    p {
        width: 300px;
        color: $dark-gray;
        font-size: 18px;
        line-height: 26px;
        @include flex(row);
        align-items: center;
        letter-spacing: -0.2px;
    }
}